$layout-width:						950px								!default; // Max width the website content will take
$navbar-height:					57px								!default; // Main navbar height
$primary:							#228ae6							!default;
$success:							#3dd965	 						!default;
$danger:								#ea5770 							!default;






// ---------------------- Old to Clean ------------------------

$new-text-font-size:				17px										!default;
$new-marker-font-size:			14px										!default;
$new-general-padding:			10px										!default;
$new-main-item-padding:			15px										!default;
$new-dark-text-color:			#414549									!default;

$new-mobile-text-font-size:	15px										!default;

$primary-hover:					#267DCA								!default;
$warning:							#ffd466 								!default;
$background:						#eef3f6 								!default;
$light:								#c4ced3 								!default;
$dark:								#5f6c80 								!default;
$white:								#ffffff								!default;

$navbar-bg-color:					#222E3D									!default; //#444E56
$navbar-text-color:				rgba(255,255,255,.3)									!default; //#B2BBBD
$main-radius:						2px										!default;

$tutorial-bg:						#30373D									!default;

$container-padding:				15px										!default;

$main-item-padding:				10px										!default;
$main-item-shadow:				0 1px 0 rgba(196,206,211,0.3)		!default;
$main-item-border:				1px solid rgba(196,206,211,0.4)	!default;
$main-item-radius:				5px										!default;
$main-icon:							21px										!default;

$course-progression-bg:			$tutorial-bg							!default;
$course-progression-color:		$navbar-bg-color						!default;

$marker-font-size:				12px										!default;
$text-font-size:					13px										!default;
$title-font-size:					15px										!default;
$header-font-size:				17px										!default;
